<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Wanderlust</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favi.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Squadfree
  * Template URL: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<style>
    button {
      font-family: "Raleway", sans-serif;
      border-radius: 15px; 
      background-color: #67b0d1; 
      color: white; 
      border: none; 
      padding: 10px 20px; 
      transition: background-color 0.3s, transform 0.3s; 
      cursor: pointer;
    }
    button:hover {
      background-color: #559bb8;
      transform: scale(1.05);
    }
    button a {
      color: white; 
      text-decoration: none;
    }
    button a:hover {
      color: #e0f7fa;
    }
</style>
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between position-relative">


      <div class="logo">
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="/"><img src="static/img/logo.png" alt="" class="img-fluid"></a>
      </div>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/">About Us</a></li>
          <li><a class="nav-link scrollto" href="/">Services</a></li>
          <li><a class="nav-link scrollto" href="/">Book Now</a></li>
          <li><a class="nav-link scrollto" href="/">Team</a></li>
          <li><a class="nav-link scrollto" href="/">Contact</a></li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->


    </div>
  </header><!-- End Header -->

  <main id="darjeeling-main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2><strong>Family Packages in Darjeeling</strong></h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li><a href="/darjeeling">Packages in Darjeeling</a></li>
          </ol>
        </div>

      </div>
    </section><!-- Breadcrumbs Section -->
    <section id="services" class="services">
        <div class="container">
  
          <div class="section-title" data-aos="fade-in" data-aos-delay="100">
        </div>
          
          <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">  
              <a  href="/darjeeling_deluxe">
              <div class="icon-box" data-aos="fade-up" style="background-image: url('static/img/ss.jpg'); 
              background-size: cover; background-position: left;">
  
                <h4 class="title">Family Deluxe <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></i></h4>
                <h4 class="description">Real Price :<s>₹14000/-</s> </h4>
                <h4 class="description">Disocunted Price : ₹9999/-</h4>
                <hr>
                <h4 class="description">3 Nights | 4 Days</h4>
                <hr>
                <h4 class="description">
                  <i class="bi bi-house-door me-3 fs-4"></i> <!-- Bootstrap house icon -->
                  <i class="bi bi-car-front me-3 fs-4"></i> <!-- Bootstrap car icon -->
                  <i class="bi bi-brightness-high-fill fs-4"></i>

                </h4>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                
                <p1 class="description">Click here to view the details of this package</p1>

              </div>
              </a>
            </div>
          
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
              <a href="/darjeeling_premium">
                <div class="icon-box" data-aos="fade-up" style="background-image: url('static/img/ss.jpg'); 
              background-size: cover; background-position: center;"> <h4 class="title">Family Premium <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h4>
                  <h4 class="description">Real Price :<s>₹14000/-</s> </h4>
                  <h4 class="description">Disocunted Price : ₹11999/-</h4>
                  <hr>
                  <h4 class="description">3 Nights | 4 Days | Breakfast incl.</h4>
                  <hr>
                  <h4 class="description">
                  <i class="bi bi-house-door me-3 fs-4"></i> <!-- Bootstrap house icon -->
                  <i class="bi bi-car-front me-3 fs-4"></i> <!-- Bootstrap car icon -->
                  <i class="bi bi-brightness-high-fill me-3 fs-4"></i>
                  <i class="bi bi-egg-fried fs-4"></i>
                  </h4>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>

                  
                  <p1 class="description">Click here to view the details of this package</p1>
                </div>
              </a>
    
              </div>
  
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <a href="/darjeeling_suite">
              <div class="icon-box" data-aos="fade-up" style="background-image: url('static/img/ss.jpg'); 
              background-size: cover; background-position: right;">  
                            <h4 class="title">Family Suite <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h4>
                <h4 class="description">Real Price :<s>₹20999/-</s> </h4>
                <h4 class="description">Disocunted Price : ₹14999/-</h4>
                
                <hr>
                <h4 class="description">3 Nights | 4 Days | 3 meals incl.</h4>
                <hr>
                <h4 class="description">
                <i class="bi bi-house-door me-3 fs-4"></i> <!-- Bootstrap house icon -->
                <i class="bi bi-car-front me-3 fs-4"></i> <!-- Bootstrap car icon -->
                <i class="bi bi-brightness-high-fill me-3 fs-4"></i>
                <i class="bi bi-egg-fried fs-4"></i>
                </h4>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                
                <p1 class="description">Click here to view the details of this package</p1>
              </div>
            </a>
  
            </div>
  

          </div>
  
      </section><!-- End Services Section -->

  
  
    <!-- ======= Portfolio Details Section ======= -->


  </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-4 col-md-6">
              <div class="footer-info">
                <h3>Wanderlust Tours and Travels</h3>
                <!-- <p class="pb-3"><em>Qui repudiandae et eum dolores alias sed ea. Qui suscipit veniam excepturi quod.</em></p> -->
                <p>
                  Nimpura, Kharagpur<br>
                  West Bengal, India-721304<br><br>
                  <strong>Phone:</strong> +91 xxxxxx<br>
                  <strong>Whatsapp:</strong> +91 xxxxxxxx <br>
                  <strong>Email:</strong> xxxxx@gmail.com<br>
                </p>
                <div class="social-links mt-3">
                  <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                  <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                  <a href="https://www.instagram.com/wanderlust_toursandtravels?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class="instagram"><i class="bx bxl-instagram"></i></a>
                  <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="https://docs.google.com/document/d/1u_JMi2c1LCcqqz6d59fppaxuBy8NHBoHJZmp1AEChhM/edit?usp=sharing">Terms and Conditions</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="https://docs.google.com/document/d/1O9Mlrfej-RKc4Cc-1HGho_nk2wmJQyQg2JKf0kHG1gc/edit">Booking Policy</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="https://docs.google.com/document/d/1Je4BeagPFi_SUO1y5zRoQ3_5cYMr5lVlCIDiKHxdrAI/edit">Cancellation Policy</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
              </ul>
            </div>
  
            <!-- <div class="col-lg-2 col-md-6 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
              </ul>
            </div> --> 
  
            <div class="col-lg-4 col-md-6 footer-newsletter">
              <p>Join our whataspp channel to know about the latest discounts and packages</p>
              <h3><a href="https://chat.whatsapp.com/JErYKqvurNxD01Tu99h0eW">Click here to join our Whatsapp Channel</a></h3>
  
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Wanderlust Tours and Travels | Designed and created by <a href="https://www.linkedin.com/in/sujal-raj-pradhan-a85043242/">Sujal Raj Pradhan</a></span></strong>.
          <br>
          All Rights Reserved.
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/ -->
          <!-- Designed by <a href="https://bootstrapmade.com/">Sujal Raj Pradhan</a> -->
        </div>
      </div>
    </footer><!-- End Footer -->
  
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
    <!-- Vendor JS Files -->
    <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="static/vendor/aos/aos.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  
    <!-- Template Main JS File -->
    <script src="static/js/main.js"></script>
  
  </body>
  <a href="https://wa.me/7029957908" target="_blank" class="whatsapp-icon">
    <i class="bi bi-whatsapp"></i>
  </a>
  <a  href="tel:+917029957908" target="_blank" class="callllll-icon">
  <i class="bx bx-phone-call"></i>
  </a>
  </html>