<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Wanderlust Tours and Travels</title>
  <style>
    @keyframes breathe {
        0% { opacity: 0.3; transform: scale(1); }
        50% { opacity: 1; transform: scale(1.05); }
        100% { opacity: 0.3; transform: scale(1); }
    }

    .breathing-text {
        font-family: 'Playfair Display', serif;
        animation: breathe 3s ease-in-out infinite;
        text-shadow: 0 0 5px rgba(0,0,0,0.3);
    }
</style>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/ff.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Squadfree
  * Template URL: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-transparent">
    <div class="container d-flex align-items-center justify-content-between position-relative">

      <div class="logo">
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="/"><img src="static/img/logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About Us</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#BookNow">Book Now</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <section id="hero">
    <div class="hero-container" data-aos="fade-up" style="background-image: url('static/img/headingbg.jpg'); background-size: cover;">
      <h1 style="font-family: 'Playfair Display', serif;">Welcome to</h1>
      <br/>
      <h1 style="font-family: 'Playfair Display', serif;">Wanderlust  Tours and Travels</h1>
      <!-- <a href="#about" class="btn-get-started scrollto"><i class="bx bx-chevrons-down"></i></a> -->

      <br> 
      <br> 
      <br> 
      <br>
      <br>
      <br>
      <br>

      <!-- <h2 class="breathing-text" style="font-family: 'Playfair Display', serif; font-size: 30px; background-color: rgb(255, 255, 255); color: rgba(60, 21, 104, 0.8);">Launch Sale: 20% to 30% off on all packages!
      </h2>
      <h2 class="breathing-text" style="font-family: 'Playfair Display', serif; font-size: 30px; background-color: rgb(255, 255, 255); color: rgba(60, 21, 104, 0.8);">Package Prices starting as low as ₹9999/-
      </h2> -->

    </div>
  </section>
  


  <main id="main">


    <section id="about" class="about">
      <div class="container">

        <div class="row no-gutters">
          <div class="content col-xl-5 d-flex align-items-stretch" data-aos="fade-up">
            <div class="content">
              <h3>Why us?</h3>
              <p>
                Welcome to Wanderlust, your gateway to affordable and unforgettable tourism experiences in North Bengal. We specialize in providing maximum fun at minimal costs. Currently, we offer services in Darjeeling and Dooars. In the future, we plan to expand our offerings to include other captivating destinations in Northeast India, such as Kalimpong, Sikkim, Shillong, and more. Join us as we explore the beauty and culture of this incredible region together.
              </p>
              <!-- <a href="#" class="about-btn">About us <i class="bx bx-chevron-right"></i></a> -->
            </div>
          </div>
          <div class="col-xl-7 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bi bi-car-front"></i>
                    <h4>Car Rental</h4>
                  <p>Reliable Car Rental Services for your convenience.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bi bi-globe-americas"></i>
                  <h4>Tour Packages</h4>
                  <p>Budget Friendly Tour packages with professional guidance.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bi bi-calendar-heart-fill"></i>
                   <h4>Honeymoon Destionations</h4>
                  <p>Romantic gateaways tailored for couples.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="bi bi-bicycle"></i>
                                    <h4>Offbeat Destinations</h4>
                  <p>Explore hidden gems, untouched beauty and unique experiences off-the-beaten-path.
                  </p>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">
        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2 style="text-align: left;">Best Selling Services</h2>
        </div>
    
        <div class="row">
    
          <!-- Darjeeling first -->
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <a href="/darjeeling">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="200" style="background-image: url('static/img/dj.jpg'); background-size: cover; background-position: center;">
                <h4 class="title">Darjeeling</h4>
                <p class="description">Click here to view all the packages of Darjeeling and their details.</p>
                <hr>
                <p class="description">Starting package: <strong>₹9999/-</strong></p>
              </div>
            </a>
          </div>
    
          <!-- Kalimpong second -->
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">  
            <a href="/kalimpong">
              <div class="icon-box" data-aos="fade-up" style="background-image: url('static/img/kalimpong.jpg'); background-size: cover; background-position: left;">
                <h4 class="title">Kalimpong-Lava</h4>
                <p class="description">Click here to view all the packages of Kalimpong & Lava.</p>
                <hr>
                <p class="description">Starting package: <strong>₹9999/-</strong></p>
              </div>
            </a>
          </div>
    

    
          <!-- Dooars Sikkim -->
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <a href="/dooars">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100" style="background-image: url('static/img/Doarss.jpg'); background-size: cover; background-position: left;">
                <h4 class="title">Dooars</h4>
                <p class="description">We will deploy our services in Dooars very soon!</p>
              </div>
            </a>
          </div>

          <!-- East Sikkim -->
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-last">
            <a href="/sikkim">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100" style="background-image: url('static/img/eastsk.jpg'); background-size: cover; background-position: right;">
                <h4 class="title">Sikkim</h4>
                <p class="description">We will deploy our services in Sikkim very soon!</p>
              </div>
            </a>
          </div>

        </div>
      </div>
    </section><!-- End Services Section -->
    
    <!-- <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2 style="text-align: left;">Services Curated for Couples</h2>
        </div>
        
        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">  
            <a  href="/dooars">
            <div class="icon-box" data-aos="fade-up" style="background-image: url('static/img/BooknowBkgd.jpg'); 
            background-size: cover; background-position: center;">

              <h4 class="title">Dooars</h4>
              <p class="description">Click here to view our services & packages in Dooars!</p>
            </div>
            </a>
          </div>
        

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-last">
            <a href="/eastsikkim">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100" style="background-image: url('static/img/eastsk.jpg'); background-size: cover; background-position: right;">
                <h4 class="title">East Sikkim</h4>
                <p1 class="description">We will deploy our services in East Sikkim soon!</p1>
              </div>
            </a>
            </div>


          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 order-lg-first">
          <a href="/darjeeling">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200" style="background-image: url('static/img/dj.jpg'); background-size: cover; background-position: center;">
              <h4 class="title">Darjeeling</h4>
              <p class="description">Starting prices for this package</p>
              
              <hr>
              <p class="description"> <strong>₹9999/-</strong></p>

            </div>
          </a>

          </div>


          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <a href="/southsikkim">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100" style="background-image: url('static/img/southsk.jpg'); background-size: cover; background-position: right;">
              <h4 class="title">South Sikkim</h4>
              <p1 class="description">We will deploy our services in South Sikkim soon!</p1>
            </div>
          </a>
          </div>
          
        </div>

    </section>End Services Section -->
 




    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts  section-bg">
      <div class="container">

        <div class="row no-gutters">



          <div class="row no-gutters">

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-emoji-smile"></i>
                <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="1" class="purecounter"></span>
                <p><strong>Number of Happy Customers</strong> </p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-globe-americas"></i>
                <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="1" class="purecounter"></span>
                <p><strong>No. of destinations being coverted</strong></p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-headset"></i>
                <span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="1" class="purecounter"></span>
                <p><strong>Hours Of Support</strong></p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-people"></i>
                <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
                <p><strong>Hard Workers</strong>
                  <br>
                  helping you reach your destination</p>
              </div>
            </div>


      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Testimonials</h2>
          <p>Here are some testimonials from those who have experienced Wanderlust Tours and Travels</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Wanderlust Tours made our trip to Darjeeling unforgettable! Their knowledge and attention to detail ensured every moment was special
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="static/img/bis.pngG" class="testimonial-img" alt="">
                <h3>Anirjit Das</h3>
                <h4>Kolkata, West Bengal</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Exploring Darjeeling with Wanderlust Tours was a delight. They truly personalized our experience, making it both enriching and enjoyable.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="static/img/bis.png" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Goa</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Highly recommend Wanderlust Tours for anyone visiting Darjeeling. Their professionalism and local insights made our journey seamless and memorable.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="static/img/bis.png" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Kerela</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Wanderlust Tours made our trip to Darjeeling unforgettable! Their knowledge and attention to detail ensured every moment was special.'
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="static/img/bis.png" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>France</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Wanderlust Tours made our trip to Darjeeling unforgettable! Their knowledge and attention to detail ensured every moment was special.'
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="static/img/bis.png" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Kathmandu, Nepal</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <!-- <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Founders</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up">
              <div class="pic"><img src="static/img/bis.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Biswanath Das</h4>
                <span>Founder/On-Ground Lead</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="150">
              <div class="pic"><img src="static/img/riya.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Riya</h4>
                <span>Co-Founder</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="pic"><img src="static/img/sujal.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Sujal Raj Pradhan</h4>
                <span>Co-Founder/Tech Lead</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact Us</h2>
          <p>We at Wanderlust Tours and Travels are available 24/7 at your service</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Head Office</h3>
              <p>Nimpura, Kharagpur, West Bengal, India - 721304</p>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-6">
          <a href="mailto:wanderlust160524@gmail.com">
            <div class="info-box mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>xxxxxxx@gmail.com</p>
            </a></div>

          </div>
          
          <div class="col-lg-3 col-md-6">
          <a href="tel:+917029957908">
            <div class="info-box mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+91 xxxxxxx</p>
            </div></a>
          </div>

        </div>

        <div class="row">

          <div class="col-lg-8 "style=" margin-bottom: 20px;"><p>Head Office</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6107.695132067925!2d87.26479717740035!3d22.33861109273776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1d43b40edbe62d%3A0xae5d99d22d821aa5!2sNimpura%2C%20Kharagpur%2C%20West%20Bengal%20721301!5e0!3m2!1sen!2sin!4v1719506531850!5m2!1sen!2sin" width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <hr>
          <div class="col-lg-8 " style=" margin-bottom: 20px;" ><p>Darjeeling Office  </p>
            <iframe href="https://maps.app.goo.gl/iYEi2Gu5PdionENx7" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1046.3850276891044!2d88.26473855680133!3d27.041135478913834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39e42e654cf501bb%3A0x4175555979d4702a!2sDarjeeling%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1719989352057!5m2!1sen!2sin" width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>

          <!-- <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div> -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
  <a href="https://wa.me/7029957908" target="_blank" class="whatsapp-icon">
    <i class="bi bi-whatsapp"></i>
  </a>
  <a href="tel:+917029957908" target="_blank" class="callllll-icon">
    <i class="bx bx-phone-call"></i>
  </a>
  
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Wanderlust Tours and Travels</h3>
              <!-- <p class="pb-3"><em>Qui repudiandae et eum dolores alias sed ea. Qui suscipit veniam excepturi quod.</em></p> -->
              <p>
                Nimpura, Kharagpur<br>
                West Bengal, India-721304<br><br>
                <strong>Phone:</strong> +91 xxxxxx<br>
                <strong>Whatsapp:</strong> +91 xxxxxxxx <br>
                <strong>Email:</strong> xxxxx@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/people/travels-with-Wanderlust/61559625726972/?mibextid=ZbWKwL" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/wanderlust_toursandtravels?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://docs.google.com/document/d/1u_JMi2c1LCcqqz6d59fppaxuBy8NHBoHJZmp1AEChhM/edit?usp=sharing">Terms and Conditions</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://docs.google.com/document/d/1O9Mlrfej-RKc4Cc-1HGho_nk2wmJQyQg2JKf0kHG1gc/edit">Booking Policy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://docs.google.com/document/d/1Je4BeagPFi_SUO1y5zRoQ3_5cYMr5lVlCIDiKHxdrAI/edit">Cancellation Policy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <!-- <div class="col-lg-2 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div> --> 

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <p>Join our whataspp channel to know about the latest discounts and packages</p>
            <h3><a href="https://chat.whatsapp.com/JErYKqvurNxD01Tu99h0eW">Click here to join our Whatsapp Channel</a></h3>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Wanderlust Tours and Travels | Designed and created by <a href="https://www.linkedin.com/in/sujal-raj-pradhan-a85043242/">Sujal Raj Pradhan</a></span></strong>.
        <br>
        All Rights Reserved.
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">Sujal Raj Pradhan</a> -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>