<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><strong>COMING SOON!</strong></h1><strong>
</body>
</html>
body {
    font-family: Arial, sans-serif;
  }
  
  .content {
    height: 2000px; /* Add height to test scrolling */
    padding: 20px;
  }
  
  .whatsapp-icon {
    position: fixed;
    left: 30px;
    bottom: 40px;
    z-index: 1000;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
  }
  
  .whatsapp-icon:hover {
    background-color: #20b958;
    text-decoration: none;
  }
  .callllll-icon {
    position: fixed;
    left: 30px;
    bottom: 120px;
    z-index: 1000;
    width: 60px;
    height: 60px;
    background-color: #f50a0a;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
  }
  
  .callllll-icon:hover {
    background-color: #f50a0a;
    text-decoration: none;
  }
  